@model List<Booksearch.Models.BookLibraryDtos.BookListDto>

@{
    ViewData["Title"] = "Bibliotek";
}
@section Styles 
{
    <link rel="stylesheet" href="~/css/Library.css"/>
}

<div class="bookRentalContainerTitle">
    
    <h1>Utforska böcker</h1>
<div sortAndSearchWrapper>

    <div class="sortBy">
        <select id="sortSelect">
            <option value="" disabled selected hidden>Sortera här</option>
            <option value="latest">Senast tillagda</option>
            <option value="id">Tidigast tillagda</option>
            <option value="title">Namn stigande (A-Ö)</option>
            <option value="titleReversed">Namn fallande (Ö-A)</option>
            <option value="author">Författare</option>
            <option value="category">Kategori</option>
            <option value="year">Utgivningsår (nyast först)</option>
            <option value="yearReversed">Utgivningsår (äldst först)</option>
        </select>
    </div>
    <div class="searchBar">
        <input id="searchInput" type="text" placeholder="Sök på bok, titel, år eller kategori"/>
        <button id="clearSearchBtn" type="button">Rensa</button>
    </div>

</div>
</div>

<div class="bookRentalContainer" id="bookContainer">
    
    @* Mata in från API *@
    @if (Model != null && Model.Any())
    {
        foreach (var Book in Model.OrderByDescending(b => b.Id))
        {
            <div class="book" data-id="@Book.Id">
                <img class="bookCover" src="" alt="Book image"/>
                <h2>@Book.Title</h2>
                <p>@Book.Author</p>
                <p>@Book.Category</p>
                <p>@Book.Year</p>
                
                @* klicka på hyr för att skicka bokens ID till hyr-api: *@
                @*<form asp-action="Rent" asp-controller="BookLibrary" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="bookId" value="@Book.Id" />
                    <button type="submit">Hyr bok</button>
                </form>*@
                <a asp-controller="BookLoan"
                   asp-action="Create"
                   asp-route-bookId="@Book.Id"
                   asp-route-bookTitle="@Book.Title">
                    <button class="rentButton">Hyr bok</button>
                </a>
                </div>
        }
    }
    else
    {   
        <div><p>Inga böcker kunde laddas</p></div>
    }
</div>
<div class="showAllBooks">
    <button id="showAllBtn">Visa alla</button>
</div>

@section Scripts
{
    <script src="~/js/library.js"></script>
}
