@model List<Booksearch.Models.BookLibraryDtos.BookListDto>

@{
    ViewData["Title"] = "Bibliotek";
}
@section Styles 
{
    <link rel="stylesheet" href="~/css/Library.css"/>
}

<h1 class="bookRentalContainerTitle">Utforska böcker</h1>
<div class="bookRentalContainer" id="bookContainer">
    
    @* Mata in från API *@
    @if (Model != null && Model.Any())
    {
        foreach (var Book in Model.OrderBy(b => b.Title)) /* Sorterar efter titelnamn */
        {
            <div class="book">
                <img class="bookCover" src="" alt="Book image"/>
                <h2>@Book.Title</h2>
                <p>@Book.Author</p>
                <p>@Book.Category</p>
                <p>@Book.Year</p>
                
                @* klicka på hyr för att skicka bokens ID till hyr-api: *@
                <form asp-action="Rent" asp-controller="BookLibrary" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="bookId" value="@Book.Id" />
                    <button type="submit">Hyr bok</button>
                </form>
                </div>
        }
    }
    else
    {   
        <div><p>Inga böcker kunde laddas</p></div>
    }
</div>
<div class="showAllBooks">
    <button id="showAllBtn">Visa alla</button>
</div>

@section Scripts
{
    <script src="~/js/library.js"></script>
}
